# === RUST / CARGO ===
debug
target
**/*.rs.bk
*.pdb
**/mutants.out*/

# === NODE.JS / NPM ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
package-lock.json

# === VITE ===
dist/
dist-ssr/
*.local

# === TAURI ===
packdrop/src-tauri/target/

# === IDE & EDITOR ===
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
.DS_Store

# === ENVIRONMENT ===
.env
.env.local
.env.*.local

# === OS ===
.DS_Store
Thumbs.db
